---
global:
    use:
      -: "X doc"

packages:
  dev-python/numpy:
    use:
      -: "python_targets_3*"
  
  net-wireless/gnuradio:
    use:
      +: "alsa analog audio channels ctrlport digital fec filter log pager performance-counters utils vocoder wavelet zeromq"
      -: "qt4"
