---
global:
  use:
    -: "X doc"

packages:
  sci-libs/gsl:
    use:
      +: "cblas-external"
  net-wireless/gnuradio:
    use:
      +: "alsa analog audio channels ctrlport digital fec filter log pager performance-counters utils vocoder wavelet zeromq"
      -: "qt4"

pre_install_commands:
  - "emerge --sync"
