global:
    use:
        +: "vim-syntax systemd"
        -: "X doc consolekit"

packages:
    sys-apps/util-linux:
        use:
            -: "systemd"
    virtual/udev:
        kw:
            +: "~arm"
    sys-apps/systemd:
        kw:
            +: "~arm"
        use: 
            +: "importd gcrypt curl lz4 lzma"
    app-portage/layman: {}
    app-portage/eix: {}
    app-editors/vim: {}
    app-portage/genlop: {}
    net-misc/ntp: {}
    sys-apps/iproute2: {}
    net-analyzer/netcat: {}
    net-wireless/iw: {}
    sys-fs/btrfs-progs: {}

pre_install_commands:
    - "emerge-webrsync"
    - "chown -R portage:portage /usr/portage"
    - "emerge -1uvkb perl"
    - "perl-cleaner --reallyall -- -kb"

post_install_commands:
    - "echo Europe/Berlin > /etc/timezone"
    - "emerge --config timezone-data"
    - "mv /sbin/init /sbin/init-openrc"
    - "ln -sf /usr/lib/systemd/systemd /sbin/init"
