---
global:
    use:
      +: "vim-syntax"
      -: "doc"

packages:
  =net-misc/freerdp-9999*: {}
  x11-base/xorg-server: {}
  net-misc/x2goclient: {}

pre_install_commands:
  - "emerge --sync"
  - "chown -R portage:portage /usr/local/portage"
  - "echo 'PORTDIR_OVERLAY=\"/usr/local/portage ${PORTDIR_OVERLAY}\"' >> /etc/portage/make.conf"
  - "find /usr/local/portage -name \"*.ebuild\" -exec ebuild {} manifest \\;"

post_install_commands:
  - "echo Europe/Berlin > /etc/timezone"
  - "emerge --config timezone-data"

