---
global:
    use:
        +: "btrfs vim-syntax systemd"
        -: "X doc consolekit modules"

packages:
    sys-apps/util-linux:
        use:
            -: "systemd"
    virtual/udev:
        kw:
            +: "~amd64 ~x86"
    sys-apps/systemd:
        kw:
            +: "~amd64 ~x86"
        use: 
            +: "importd gcrypt curl lz4 lzma"
    app-portage/layman: {}
    app-portage/eix: {}
    app-editors/vim: {}
    app-portage/genlop: {}
    net-misc/ntp: {}
    sys-apps/iproute2: {}
    net-analyzer/netcat: {}
    net-wireless/iw: {}
    sys-fs/btrfs-progs:
        kw:
            +: "~amd64 ~x86"
    sys-apps/usbutils: {}
    sys-apps/usbmon: {}
    sys-apps/pciutils: {}
    sys-process/htop: {}

    # needed by sysdig. see: https://bugs.gentoo.org/show_bug.cgi?id=542248
    =dev-libs/jsoncpp-0.6*: {}
    dev-util/sysdig: {}


pre_install_commands:
    - "gcc-config $(gcc-config -l | wc -l)"
    - "emerge --sync"
    - "chown -R portage:portage /usr/portage"
    - "emerge -1uvkb perl"
    - "perl-cleaner --reallyall -- -kb"

post_install_commands:
    - "eix-update"
    - "flaggie sys-apps/util-linux %use::systemd || true"
    - "emerge --keep-going --wity-bdeps=y -DNuv @world || true"
    - "echo Europe/Berlin > /etc/timezone"
    - "emerge --config timezone-data"
    - "mv /sbin/init /sbin/init-openrc"
    - "ln -sf /usr/lib/systemd/systemd /sbin/init"

