---
global:
    use:
      +: "X xinerama vim-syntax"

packages:
  app-portage/layman: {}
  app-portage/eix: {}
  app-editors/vim: {}
  app-portage/genlop: {}
  sys-apps/iproute2: {}
  net-analyzer/netcat: {}
  net-wireless/iw: {}
  net-misc/x2goserver:
    kw:
      +: "~amd64"
  mate-base/mate:
    kw:
      +: "~amd64"
  www-client/firefox:
    kw:
      +: "~amd64"

pre_install_commands:
  - "emerge --sync"

post_install_commands:
  - "eix-update"
