---
global:
    use:
        +: "vim-syntax systemd"
        -: "X doc consolekit modules"

packages:
    sys-apps/util-linux:
        use:
            -: "systemd"
    virtual/udev:
        kw:
            +: "~arm"
    sys-apps/systemd:
        kw:
            +: "~arm"
        use: 
            +: "importd gcrypt curl lz4 lzma"
    app-portage/layman: {}
    app-portage/eix: {}
    app-editors/vim: {}
    app-portage/genlop: {}
    net-misc/ntp: {}
    sys-apps/iproute2: {}
    net-analyzer/netcat: {}
    net-wireless/iw: {}
    sys-fs/btrfs-progs:
        kw:
            +: "~arm"
    sys-apps/usbutils: {}
    sys-apps/usbmon: {}

    # needed by sysdig. see: https://bugs.gentoo.org/show_bug.cgi?id=542248
    =dev-libs/jsoncpp-0.6*: {}
    dev-util/sysdig: {}


pre_install_commands:
    - "emerge --sync"
    - "chown -R portage:portage /usr/portage"
    - "emerge -1uvkb perl"
    - "perl-cleaner --reallyall -- -kb"

post_install_commands:
    - "echo Europe/Berlin > /etc/timezone"
    - "emerge --config timezone-data"
    - "mv /sbin/init /sbin/init-openrc"
    - "ln -sf /usr/lib/systemd/systemd /sbin/init"
    - "systemctl enable sshd"
    - "systemctl enable systemd-resolved"
    - "rm -f /etc/resolv.conf"
    - "ln -s /run/systemd/resolve/resolv.conf /etc/resolv.conf"

