---
global:
    use:
      -: "X doc"

packages:
  ">=dev-python/matplotlib-1.4*": {}
  net-wireless/gnuradio:
    use:
      +: "alsa analog audio channels ctrlport digital fec filter log pager performance-counters utils vocoder wavelet zeromq"
      -: "qt4"
